/node_modules
/public/archive
/public/storage
/storage/
/vendor
/public/upload/foto_galery
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
skoloff12092019.tar
p441726_skoloff.sql