@media all and (min-width: 768px) and ( max-width: 991px) {
    .header__menu {
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
        background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
        min-height: 56px;
    }
    .bossmenu__list--itemmobile a:hover i {
        color:#c7b29a;
    }
    .menu__menu {
        display: none;
    }
    .menu__menu--mobile {
        display: block;
    }
    .header__menu--listmobile {
        
    }
    .menu__list--itemmobile a{
        text-decoration: none;
    }
    .menu__list--itemmobile a:hover{
        text-decoration: none;
    }
    .menu__list--itemmobile {
        background-color: black;
        list-style-type: none;
        transition: 1.3s ease;
        margin: 2%;
    }
    .menu__list--itemmobile:hover {
        background-color: #ccc;
        color: darkslategrey;
        list-style-type: none;
        transform: scale(1.2);
    }
    .bossmenu__list--itemmobile {
        list-style-type: none;
    }
    .bossmenu__list--itemmobile:hover .header__menu--listmobileboss {
        opacity: 0.9;
        pointer-events: all;
        background-color: 
        
    }
    .bossmenu__list--itemmobile a{
        color: white;
    }
    .header__menu--listmobileboss {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        margin-left: -2%;
        line-height: 1.7;
        opacity: 0;
        transition: 1.9s ease;
        pointer-events: none
        
    }
    .articleSelection .right:hover {
        transform-origin: bottom;
    } 
    .articleSelection .left:hover {
        transform-origin: bottom;
    }
    .articleSelection img {
        width: 400px;
        height: 300px;
    }
    .articleSelection .left:hover {
        transform: scale(1.1);
    }
    .articleSelection .center:hover {
        transform: scale(1.1);
    }
    .articleSelection .right:hover {
        transform: scale(1.1);
    }
    .menu__menu {
        width: 60%;
        height: 56px;
        font-family: "Montserrat-Light", sans-serif;
    }
    .menu__logo {
        margin: 0;
        width: 30%;
    }
    .menu__logo:hover {
        transform-origin: top right;
    }
    .sectionmobilleft {
        margin-top: 0;
        float: none;
        width: 100%;
        position: relative;
        background-size: cover;
    }
    .sectionmobiright {
        margin-top: 0;
        float: none;
        position: relative;
        width: 100%;
        min-height: 300px;
    }
    .sectionmobiright__header {
        margin-top: 0;
        line-height: 2;
    }
    .icon {
        width: 40%;
        min-height: 250px;
        margin-right: 1%;
    }
    .sectionmobil {
        position: relative;
    }
    .collage {
        height: auto;
    }
    .sectionfouricon {
        display: flex;
        flex-wrap: none;
        flex-direction: column;
        align-items: center;
    }
    .sectionone__main { 
        line-height: 1.4;
    }
    .sectiontwo {
        width: 25%;
        min-height: 400px;
    }
    .sectionthree {
        width: 22%;
        min-height: 400px;
        margin-right: 2%;
        height: 0;
    }
    .sectionfour {
        width: 19%;
        min-height: 400px;
        margin-right: 1%;
    }
    .articleSelection {
        height: auto;
    }
    .myslaider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button {
        margin-left: 0;
        margin-bottom: 11%;
    }
    .asidetextheader {
        margin: 3% 0 0 4%;
    }
    .asidetextfooter {
        margin-left: 4%;
    }
    .menu__searth {
            line-height: 3.5;
            min-width: 13%;
    }
    .menu__searth a:hover i {
        color: #c7b29a;
        transform: scale(2);
        transform-origin: top;
    }
    .my {
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        
    }
    br {
        display: none;
    }
    .mainsection {
        flex-wrap: wrap;
    }
    .figure {
        width: 45%;
    }
    .divsectionbutton {
        margin: 0 0 0 38%;
    }
    .figure2 {
        margin-left: 0%;
    
    }
    .footerleft__list--paragraf:hover {
        transform: scale(1.2);
    }
    .sectionone {
        width: 30%;
        min-height: 400px;
        margin: 0 2%;
        height: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

