* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 100%
}
.container {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: "Raleway-Thin";
    src:url("../fonts/Raleway-Thin.ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src:url("../fonts/Montserrat-Light.ttf");
}
.containerheader {
    font-family: "Raleway-Thin";
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 23%;
    line-height: 3;
}
.containerfooter {
    font-family: "Montserrat-Light";
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}